.github
.vscode
docs
e2e-common
license
node_modules
scripts
.*
*.md
docker-compose.yaml
Dockerfile
packages/cli
packages/create
packages/dev-server/assets
packages/dev-server/test-emails
packages/testing