DB_HOST=db # Should match the db service name in docker-compose.yaml

# Database environment
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vendure

# DB config (no need for a change)
DB_SCHEMA=public
DB=postgres

# API Server environment
API_PORT=4090
APP_ENV=prod # prod or dev
SYNCHRONIZE=true
CORS=http://localhost:4200 # Allow origin

# For populating the DB
POPULATE_PRODUCTS=false
POPULATE_CUSTOMERS=false

# Admin UI environment
ADMIN_UI_PORT=4091

# Superadmin creds
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=1234567890

# Email credentials (turboSMTP)
FROM_ADDRESS=example@gmail.com
TURBO_URL=https://api.turbo-smtp.com/api/v2/mail/send
CONSUMER_KEY=xyz
CONSUMER_SECRET=xyz