DB_HOST=db # Should match the db service name in docker-compose.yaml

# Database environment
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vendure

# DB config (no need for a change)
DB_SCHEMA=public
DB=postgres

# API Server environment
API_PORT=6080
APP_ENV=prod
SYNCHRONIZE=true

# Admin UI environment
ADMIN_UI_PORT=6090

# Superadmin creds
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=1234567890